<%- include("header")	-%>

<h2>ANDRÉS R. BUCHELI</h2>

<p>I am a Software Engineer specialized in Edge Artificial Intelligence for the Internet of Things and Front-End Web Development. (Bachelor’s Degree in Electronic Engineering, Postgraduate Diploma in P.M Telecommunications, Master’s Degree in Management of Business and Finances). My deep passion is the integration of AI and machine learning in Web Development. My latest projects include an Internet of Things solution, which uses Edge Artificial Intelligence to detect people, and a web application designed with React that consists of an interactive Bookshelf. I am currently working as a freelancer Front-End Web developer, and as a Technology Advisor and Consultant for international cooperation projects for two organizations.</p>

<%- include("footer")	-%>